accelerate==1.3.0
datasets==3.2.0
evaluate==0.4.3
numpy==2.2.2
Pillow==11.1.0
seqeval==1.2.2
# --extra-index-url https://download.pytorch.org/whl/cu118
--extra-index-url https://download.pytorch.org/whl/cu126
torch==2.6.0
transformers==4.48.2
